body{
	background-color: #5D5C61;
}
nav{
	background-color: #B1A296;
}

#leftsideHome, #rightsideHome{
	background-color: white;
}
#dataSub{
	color: #5D5C61;
}

#navbarDropdown{
	color: #5D5C61;
}

#comparisonSub{
	color: #5D5C61;
}

#HeaderBrand{
	font-size: 20px;
}


.mainimageHome{
	width: 50%;
	height: auto;
	float: left;
}
.smallimages{
	width: 400px;
	height: auto;
}
#ind-vis{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

p{
	line-height: 2;
}
h1{
	color: #557A95;
}
h3{
	text-align: center;
	color: #7395AE;
}

@media (max-width: 991px){
	nav{
		background-color: white;
	}

}