#dataSub{
	color: #42a7f4;
}

#navbarDropdown{
	color: #42a7f4;
}

#comparisonSub{
	color: #42a7f4;
}

#HeaderBrand{
	font-size: 20px;
}

body{
	background-color: #42a7f4;
}

#leftsideHome, #rightsideHome{
	background-color: white;
}
.mainimageHome{
	width: 400px;
	height: auto;
	float: left;
}
.smallimages{
	width: 400px;
	height: auto;
}



